body{
    background-color: #eee;
    height: 100vh;
}

.text-street{
    color : rgb(255 222 89);
}

.product-card-img{
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.big-avatar{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.nav-avatar{
    width: 25px;
    height: 25px;
    object-fit: cover;
    object-position: center;
}