.navbar.navbar-scroll.navbar-scrolled {
    transition: 0.5s;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-tabs .nav-link {
    color: gray;
}

.nav-tabs .nav-link.active {
    color: rgb(255 222 89);
    border-color: rgb(255 222 89);
}

.form-check-input:checked {
    border-color: white;
}

.form-check-input:checked:focus {
    border-color: white;
}
